@model IEnumerable<llantasAPP.Models.edicionLlantas.llantas_Edit>

@{
    ViewBag.Title = @ViewBag.title;
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("buscarLlantas", "llantas")">Buscar Llantas</a></li>
        <li class="breadcrumb-item" aria-current="page">Edición de llantas</li>
    </ol>
</nav>
<div class="Container cont_EditLlantas _ContAccion">
    @{
        List<llantasAPP.Models.edicionLlantas.llantas_Edit> infoEdit = ViewBag.infoEdit;
        List<llantasAPP.Models.edicionLlantas.llantas_Edit> disponiblesL = ViewBag.disponibles;
    }
    <div class="row" style="margin: 0;">
        <!--DIAGRAMA DE LLANTAS-->
        <div class="col card vehiculo">
            @{
                string placa = infoEdit[0].placa;
                int tipoVehiculo = infoEdit[0].tipoVehiculo;
                int nroEjes = infoEdit[0].nroEjes;
                int kilometraje = infoEdit[0].km;
                int llantasCargadas = infoEdit[0].llantasCargadas;
                string fechaSistema = infoEdit[0].fechaSistema;


                foreach (var item in Model)
                {
                    if (item.montar)
                    {
                <div class="eje" id="@("eje" + item.POSICION)">
                    <div class="caja">
                        <div id="@item.LLANTA" class="llanta btn btn-outline-success"  href="@("#infoLlanta" + @item.LLANTA)"  role="button" tag="preload">
                            @* Pendiente para aplicar *@
                            @*@if (item.SENTIDO == 0)//SENTIDOS;0=NO HA SIDO VOLTEADA;1=LLANTA GIRADA
                                    {
                                        <img class="imgSentido btn" src="~/Content/medios/left.png" tag="0" onclick="cambio_Sentido($(this))"/>//izquierda a DERECHA
                                    }
                                    else
                                    {
                                        <img class="imgSentido btn" src="~/Content/medios/right.png" tag="1" onclick="cambio_Sentido($(this))"/>//derecha a INQUIERDA
                                    }*@
                            <span class="idllanta">@item.LLANTA-@item.GRUPO</span>
                            <div class="collapse infoLlanta" id="@("infoLlanta" + @item.LLANTA)">
                                <div class="card card-body" style="padding: 0;">
                                    <dl class="row" style="margin: 0;">
                                        <dt class="col-5 marginTituloDesc">Grupo</dt>
                                        <dd class="col-5 marginDescTtulo">@Html.DisplayFor(modelItem => item.GRUPO)</dd>
                                        <dt class="col-5 marginTituloDesc">Fecha Inst</dt>
                                        <dd class="col-5 marginDescTtulo">@Html.DisplayFor(modelItem => item.FECHAI)</dd>
                                        <dt class="col-5 marginTituloDesc">Km Instala</dt>
                                        <dd class="col-5 marginDescTtulo">@Html.DisplayFor(modelItem => item.KINSTALA)</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    }
                    else
                    {
                <div class="eje" id="@("eje" + item.POSICION)">
                    <div class="caja"></div>
                </div>
                    }
                }   
            }
            @* Edicion de CSS *@
            @if (tipoVehiculo == 1)
            {
                <script>
                    $(function () {
                        $(".vehiculo").addClass("camionCabezote");
                        $("#eje1").css({ 'top': '72%', 'left': '2%' });
                        $("#eje2").css({ 'top': '19%', 'left': '2%' });
                        $("#eje3").css({ 'top': '88%', 'left': '43%' });
                        $("#eje4").css({ 'top': '72%', 'left': '43%' });
                        $("#eje5").css({ 'top': '19%', 'left': '43%' });
                        $("#eje6").css({ 'top': '3%', 'left': '43%' });
                        $("#eje7").css({ 'top': '88%', 'left': '85%' });
                        $("#eje8").css({ 'top': '72%', 'left': '85%' });
                        $("#eje9").css({ 'top': '19%', 'left': '85%' });
                        $("#eje10").css({ 'top': '3%', 'left': '85%' });
                    })
                </script>
            }
            else if (tipoVehiculo == 2)
            {
                if (nroEjes == 1)
                {
                <script>
                    $(function () {
                        $(".vehiculo").addClass("camionTrailerx1");
                        $("#eje1").css({ 'top': '88%', 'left': '52%' });
                        $("#eje2").css({ 'top': '72%', 'left': '52%' });
                        $("#eje3").css({ 'top': '19%', 'left': '52%' });
                        $("#eje4").css({ 'top': '3%', 'left': '52%' });
                    })
                </script>
                }
                if (nroEjes == 2)
                {
                <script>
                    $(function () {
                        $(".vehiculo").addClass("camionTrailerx2");
                        $("#eje1").css({ 'top': '88%', 'left': '43%' });
                        $("#eje2").css({ 'top': '72%', 'left': '43%' });
                        $("#eje3").css({ 'top': '19%', 'left': '43%' });
                        $("#eje4").css({ 'top': '3%', 'left': '43%' });
                        $("#eje5").css({ 'top': '88%', 'left': '85%' });
                        $("#eje6").css({ 'top': '72%', 'left': '85%' });
                        $("#eje7").css({ 'top': '19%', 'left': '85%' });
                        $("#eje8").css({ 'top': '3%', 'left': '85%' });
                    })
                </script>
                }
                if (nroEjes == 3)
                {
                <script>
                    $(function () {
                        $(".vehiculo").addClass("camionTrailerx3");
                        $("#eje1").css({ 'top': '88%', 'left': '2%' });
                        $("#eje2").css({ 'top': '72%', 'left': '2%' });
                        $("#eje3").css({ 'top': '20%', 'left': '2%' });
                        $("#eje4").css({ 'top': '3%', 'left': '2%' });
                        $("#eje5").css({ 'top': '88%', 'left': '43%' });
                        $("#eje6").css({ 'top': '72%', 'left': '43%' });
                        $("#eje7").css({ 'top': '20%', 'left': '43%' });
                        $("#eje8").css({ 'top': '3%', 'left': '43%' });
                        $("#eje9").css({ 'top': '88%', 'left': '85%' });
                        $("#eje10").css({ 'top': '72%', 'left': '85%' });
                        $("#eje11").css({ 'top': '20%', 'left': '85%' });
                        $("#eje12").css({ 'top': '3%', 'left': '85%' });
                    })
                </script>
                }
            }
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 cont_lateralDer">
            <div class="row contAcciones">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <form id="fomrAddllanta">
                                <fieldset>
                                    <legend class="tituloLegend">Montar llantas</legend>
                                    <div class="row">
                                        <div class="col">
                                            @* <input type="text" class="form-control form-control-sm text-uppercase" id="inputnllanta" name="nllanta" placeholder="LLANTA" required="required" style="height: 100%" />*@
                                            <select id="comboDisponibles" name="nllanta" class="form-control" required="required">
                                                <option value="" selected="selected">Seleccione...</option>
                                            </select>

                                            <script type="text/javascript">
                                                var listaLllantas = [];
                                                @foreach (var llantaInf in ViewBag.llantasDinponibles)
                                                {
                                                    @:var valor = "@llantaInf[0]" + "-" + "@llantaInf[1]";
                                                                                                    @:var opcionValue = $('<option value="' + valor + '">' + valor + '</option>');
                                                                                                    @:$("#comboDisponibles").append(opcionValue);
                                                                                                }
                                            </script>
                                        </div>
                                        <div class="col-4">
                                            <button id="addllanta" type="submit" class="btn btn-success btn-sm btnFull">
                                                <img src="~/Content/medios/plus.svg" /></button>
                                        </div>
                                    </div>
                                    <label for="inputnllanta" class="error" style="display: none;" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                    @* Llantas importadas *@
                    <div id="nuevallanta">
                        @* Espacio ara las llantas Importadas *@
                    </div>
                </div>
            </div>
            @* Espacio donde se retiran las llantas *@
            <div class="row contBasura">
                <div class="col">
                    <fieldset>
                        <legend class="tituloLegend">Remover Llanta</legend>
                    </fieldset>
                    <div class="caneca">
                        @* Espacio para las llantas que se retiran *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Zona de detalles y acciones *@
    <div class="row contDetalles">
        <div class="col">
            <div class="row">
                @* Detalles Vehiculo*@
                <div id="colDetall1" class="col colDetall">
                    <fieldset>
                        <legend class="tituloDesc">Detalles del Vehiculo</legend>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Placa</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5>
                                    <span id="_PlacaAct" class="badge badge-success">@placa</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Tipo Vehiculo</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5>
                                    @if (tipoVehiculo == 1)
                                    {
                                        <span class="badge badge-success">CABEZOTE</span>    
                                    }
                                    else
                                    {
                                        <span class="badge badge-success">TRAILER</span>
                                    }

                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Nro. Ejes</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5>
                                    <span class="badge badge-success">@nroEjes</span></h5>
                            </div>
                        </div>
                    </fieldset>
                </div>
                @*Detalles Trabajo*@
                <div id="colDetall2" class="col colDetall">
                    <fieldset>
                        <legend class="tituloDesc">Detalles del Trabajo</legend>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Kilometraje</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5>
                                    <span id="_KmAct" class="badge badge-success">@kilometraje</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Llantas cargadas</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5>
                                    <span class="badge badge-success">@llantasCargadas</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col colTitulodesc">
                                <h6 class="descDetall">Fecha</h6>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5><span class="badge badge-success">@fechaSistema</span></h5>
                            </div>
                        </div>
                    </fieldset>
                </div>
                @* Guardar/Cancelar *@
                <div id="colDetallSave" class="col-sm-12 col-md-3 col-lg-3 offset-md-3 offset-lg-3">
                    <fieldset>
                        <legend class="tituloDesc">Acciones del Trabajo</legend>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-danger btnFull" onclick="location.href='buscarLlantas'">Cancelar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" id="btnGUARDAR" class="btn btn-success btnFull">Guardar</button>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="timeTransac">Tiempo de transacción: @ViewBag.tiempoProceso Segundos</span>
@* Zona de Modals *@
<!--Desmontar-->
<div class="modal fade" id="modMuestraDesmonta" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!--Montar-->
<div class="modal fade" id="modMuestraMonta" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
