@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">

    <!--Menu-->

    <!--Link inventario-->
    <div class="col-lg-3 col-md-6 mb-4">
        <a href="@Url.Action("Inventario", "llantas")" class="link noLink">
            <div class="card opcMenu">
                <img class="imgCards" src="~/Content/medios/llanta_invent.png" alt="Logo" />
                <div class="card-body">
                    <h5 class="card-title">Inventario de Llantas</h5>
                    <p class="card-text">Ver existencias de llantas.</p>
                </div>
            </div>
        </a>
    </div>

    <!--Link EditarLlantas-->
    <div class="col-lg-3 col-md-6 mb-4">
        <a href="@Url.Action("buscarLlantas", "llantas")" class="link noLink">
            <div class="card opcMenu">
                <img class="imgCards" src="~/Content/medios/cambio_llantas.png" alt="" width="10" />
                <div class="card-body">
                    <h5 class="card-title">Edición de Llantas</h5>
                    <p class="card-text">Añade, quita y rota las llantas de un vehículo.</p>
                </div>
            </div>
        </a>
    </div>

    <!--Link RecircularLlantas-->
    <div class="col-lg-3 col-md-6 mb-4">
        <a href="@Url.Action("RecircularLlantas", "llantas")" class="link noLink">
            <div class="card opcMenu">
                <img class="imgCards" src="~/Content/medios/llanta_circula.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Recircular Llantas</h5>
                    <p class="card-text">Pasar llantas de recircular o transición a Inventario.</p>
                </div>
            </div>
        </a>
    </div>

    <!--Link ReencaucheLlantas-->
    <div class="col-lg-3 col-md-6 mb-4">
        <a href="@Url.Action("ReencaucheLlantas", "llantas")" class="link noLink">
            <div class="card opcMenu">
                <img class="imgCards" src="~/Content/medios/llanta_reencauche.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Reencauche de Llantas</h5>
                    <p class="card-text">Enviar llantas a proceso de reencauche.</p>
                </div>
            </div>
        </a>
    </div>

    <!--Link ReparacionLlantas-->
    <div class="col-lg-3 col-md-6 mb-4">
        <a href="@Url.Action("ReparacionLlantas", "llantas")" class="link noLink">
            <div class="card opcMenu">
                <img class="imgCards" src="~/Content/medios/llanta_repara.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Reparación de Llantas</h5>
                    <p class="card-text">Reparación de llantas sin retirar del vehículo.</p>
                </div>
            </div>
        </a>
    </div>

    <!--./Fin Menu-->
</div>

